ReunioSocial/ReunioSocial.v12.suo
ReunioSocial/ReunioSocial/bin/Debug/ReunioSocial.dll
ReunioSocial/ReunioSocial/bin/
ReunioSocial/ReunioSocial/obj/
GraellaSimpaties/GraellaSimpaties.v12.suo
GraellaSimpaties/GraellaSimpaties/bin
GraellaSimpaties/GraellaSimpaties/obj